dev:
  STAGE: dev
  SSM_PARAM_NS: ${self:custom.ssmParamNamespace}
  DEFAULT_NOTIFY_RETRIES_THRESHOLD: 10
  SNS_TOPIC_ARN:
    Ref: ClientCustomApiTopic
  SNS_INTERNAL_TOPIC_ARN:
    Ref: ClientCustomApiTopic
  DYNAMO_TABLE_NAME: CandidatesTable
  API_USERNAME: test_demo
  API_PASSWORD: pass1234
prod:
  STAGE: prod
  SSM_PARAM_NS: ${self:custom.ssmParamNamespace}
  SNS_TOPIC_ARN:
    'Fn::ImportValue': 'ClientsInternalTopicArn-prod'
  SNS_INTERNAL_TOPIC_ARN:
    'Fn::ImportValue': 'ClientsInternalTopicArn-prod'
  DEFAULT_NOTIFY_RETRIES_THRESHOLD: 10
  REINVOKER_FUNCTION_ARN:
    'Fn::ImportValue': 'ReinvokerFunctionArn-prod'
  SQS_FAILED_QUEUE_URL:
    'Fn::ImportValue': 'LambdaRetriesQueueURL-prod'
  DYNAMO_TABLE_NAME: CandidatesTable
